.popup-container
  #popup.popup-wrapper
    .popup-head
      .popup-title
      .popup-photos
        img.popup-photo(width="647" height="359")
        .popup-thumbs
    .popup-content: .wf
      .c.c10
        .popup-text
      .c.c5
        .popup-label Сдача объекта:
        .popup-value.popup-done
        .popup-label Общая площадь:
        .popup-value.popup-s
        .popup-label Адрес:
        .popup-value.popup-address
