.container
  display: none

.wrapper
  border-radius: 3px
  padding: 1.5em 1em
  background: $white
  max-width: 900px
  margin: 0 auto
  font-size: .8em

  h4
    text-align: center
    margin: 0 0 1em
