.container
  display: none

  :global .wpcf7-response-output
    color: $white
    width: 100%

.wrapper
  max-width: 400px
  margin: 0 auto
  color: $white
  background: $green300
  padding: 3em 2.5em
  position: relative

  :global .mfp-close
    background: #79a465
    color: #fff
    border-radius: 0 0 0 8px

.title
  font-family: 'Averin Next', sans-serif
  font-size: 2em
  margin-bottom: .3em

.subtitle
  font-size: 1.1em
  margin-bottom: 1em

.input
  margin-bottom: 1em

