- var tabs = ['Общестроительные работы и демонтаж', 'Монолитные железобетонные конструкции', 'Кровельные работы', 'Восстановление и рестарвация зданий', 'Электромонтажные слаботочные системы и сантехнические работы', 'Функция генерального подрядчика', 'Генеральное проектирование', 'Отделочные работы']
.service-wrapper
  .w
    .c.c5
      .service-menu
        h3.service-title Наши услуги
        .service-items
          each tab, i in tabs
            .service-item(class= i === 0 ? 'service-item_active' : '')= tab
    .c.c10
      .service-tabs
        each tab, i in tabs
          .service-tab(class= i === 0 ? 'service-tab_active' : '')
            .service-tab_title= tab
            img.serive-image(src='modules/service/item.jpg')
            .service-text
              p Ла-ла-ла подходит к вопросу отделочных работ очень ответственно и для каждого заказчика выбирает индивидуальный подход. В жизнь воплощаются самые сложные проекты, начиная от архитектурных работ, до воплощения в реальность самых необычных дизайнерских проектов. А азчика выбирает индивидуальный подход. В жизнь воплощаются самые сложные проекты, начиная от архитект
              p Ремонтно-отделочные работы являются одним из основных направлений строительного рынка. Во-первых, это самый «заметный» этап работы при проведении ремонта или при строительстве нового помещения. Во-вторых, это целый комплекс технологических операций, производимых с соблюдением определенных требований и с использованием специального инструмента и материалов.