// ====================================
// colors
// ====================================
$black        = #000
$white        = #fff
$orange       = #f24415
$grey         = #f7f5f3
$blue         = #0d3846

$green200     = #deedd7
$green300     = #92c37c
$green400     = #88b673
$green500     = #82ad6f
$green600     = #80b31d
$green700     = #52bc00
$green800     = #58ab00
$green900     = #4a7039

// ====================================
// typography
// ====================================
$font-size = 18px
$line-height = 1.55

// ====================================
// grid settings
// ====================================
$cols-number = 15

$gutter = 20px
$gutter-half = ($gutter / 2)

$breakpoint-sm = 768px
$breakpoint-md = 992px
$breakpoint-lg = 1200px

$container-sm = 750px
$container-md = 960px
$container-lg = 1200px
