extends ../../modules/layout/layout

block body
  include ../../modules/menu/menu
  include ../../modules/header/header
  include ../../modules/service/service
  include ../../modules/directions/directions
  include ../../modules/choose/choose
  include ../../modules/examples/examples
  include ../../modules/calc/calc
  include ../../modules/testimonials/testimonials
  include ../../modules/clients/clients
  include ../../modules/contacts/contacts
  include ../../modules/footer/footer
  include ../../modules/popup/popup