#choose.choose-wrapper
  .w
    .c.c10-lg.c13
      h2.choose-title Почему нас выбирают лидеры рынка?
  .w
    .c.c5
      .choose-trigger.choose-trigger-1
        .choose-text Построено более #[span 700] объектов
        .choose-note *Построено более#[br]#[span 500 000] м#[sup 2]
    .c.c5
      .choose-trigger.choose-trigger-2
        .choose-text Подробная смета и прозрачный договор
    .c.c5
      .choose-trigger.choose-trigger-3
        .choose-text Оптимизация в рамках бюджета заказчика
    .c.c5
      .choose-trigger.choose-trigger-4
        .choose-text Строгое соблюдение охраны труда
    .c.c5
      .choose-trigger.choose-trigger-5
        .choose-text Лучшие конструктивные рещения
        .choose-note *Разработали более#[br]#[span 1000] объектов
    .c.c5
      .choose-trigger.choose-trigger-6
        .choose-text Специалисты с 20 летним опытом
        .choose-note *Строим с любовью
