include ../input/input
include ../button/button

.header-wrapper
  .w.w-c
    .c.c6.c7-xs
      .wf
        .c.c5
          img.header-logo(src='modules/header/logo.png')
        .c.c10: .header-text Полный комплекс услуг#[br]в области строительства
    .c.c9.c8-xs
      .wf
        .c.c5
          .header-city Москва
          .header-phone 8 (495) 120-14-33
        .c.c5
          .header-city Санкт-Петербург
          .header-phone 8 (812) 426-18-69
        .c.c5
          .header-city Бесплатно по России
          .header-phone 8 800 500 33 25
  .w
    .c.c15.c12-lg
      h1.header-title Строительство любых типов зданий и сооружений по всей России
  .w
    form
      .c.c15
        .header-form Заполните форму и получите бесплатную консультацию:
      .c.c5.c3-md
          +input('sm')(placeholder='Ваше имя')
      .c.c5.c3-md
          +input('sm')(placeholder='Телефон')
      .c.c3.c2-md
          +button('input', true)(type='submit' value='ОТПРАВИТЬ')