.footer-wrapper
  .w.w-c
    .c.c6
      .wf
        .c.c6-xs.c6
          img.footer-logo(src='modules/footer/logo.png')
        .c.c9-xs.c9
          .footer-text
            .footer-title Полный комплекс услуг в области строительства
            .footer-subtitle 2017 ООО «ИнвестСтройТрест»
    .c.c4
      .footer-socials
        each icon in ['vk', 'fb', 'ok']
          .footer-icon(class='footer-' + icon href='#')
    .c.c5
      .footer-contacts
        .footer-phone 8 800 500 33 25
        a.footer-callback(href='#callback') заказать звонок
  .footer-confident: .w: .c.c15
        a.footer-confident_link(href='#confident') политика конфиденциальности