#contacts.contacts-wrapper
  .w
    .c.c8.c6-md
      .contacts-block
        h2.contacts-title Контакты
        p: b Адрес:
        p г. Санкт-Петербург, ул. Ефимова 4А, офис 534; ст. м. "Сенная площадь"
        p: b Телефоны:
        p +7 (812) 426-18-69#[br]+7 (800) 500-33-25
        p: b Электронная почта:
        p mail@vsemdoma.com

        p: b Фотографии нашего офиса:
        .contacts-photos
          img.contacts-photo(src='modules/contacts/1.jpg')
          |#{' '}
          img.contacts-photo(src='modules/contacts/2.jpg')
  #map.contacts-map(data-zoom='17' data-lat="59.925367" data-lng="30.321860" data-original='https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Aa724e455f1677605be89693713d5233ed533baf0512b79efb26e36db574e3e49&amp;width=600&amp;height=450&amp;lang=ru_RU')
